@charset "UTF-8";

body {
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  font-weight: 100;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

// header
#header {
  margin-top: 40px;

  .wrapper {
    border-bottom: 1px solid #aaa;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.headerNav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.siteNav {
  display: flex;

  li {
    margin-right: 15px;
    font-size: 0.75rem;
  }
}

.accountNav {
  display: flex;

  li {
    margin-left: 15px;
    font-size: 0.75rem;
  }
}

// item
#item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.itemImg {
  width: 50%;
  height: 68%;
}

.itemDetail {
  width: 42%;

  h2 {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 60px;
    line-height: 60px;
    font-size: 1rem;
  }

  p {
    margin-top: 20px;
    font-size: 0.75rem;
    line-height: 200%;
  }
}

.orderList {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 0.75rem;
  border-style: hidden;
  border-collapse: collapse;

  th, td {
    font-weight: 100;
    height: 40px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;

    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 60%;
    }
  }
}

#puldown {
  width: 90%;
  border: 1px solid #aaa;
  padding-left: 7%;
  appearance: auto;
  -moz-appearance: auto;
  -webkit-appearance: auto;
}

.cartBtn {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  background-color: #444;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 0.8rem;
}

.sizeChart {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #aaa;
  border-collapse: collapse;

  th, td {
    font-weight: 100;
    height: 40px;
    border: 1px solid #aaa;

    &:nth-child(1) {
      width: 16%;
    }

    &:nth-child(2) {
      width: 28%;
    }

    &:nth-child(3) {
      width: 28%;
    }

    &:nth-child(3) {
      width: 28%;
    }
  }

  th {
    background-color: #eee;
  }
}

// footer
#footer {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 896px) {
  #header {
    margin-top: 30px;

    .wrapper {
      width: 92%;
      border-bottom: none;
    }
  }

  .headerNav {
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 0;
  }

  #item {
    display: block;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .itemImg {
    width: 100%;
    height: 100%;
  }

  .itemDetail {
    width: 92%;
    margin: 10px auto;
  }

}