@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.site-title {
  line-height: 0;
}
.site-title a {
  display: block;
}

.nav-menu {
  width: 300px;
  height: 100%;
  padding: 60px 25px;
  position: fixed;
  top: 0;
  left: -300px;
  opacity: 0;
  overflow-y: auto;
  transition: all 0.5s;
  z-index: 20;
  background-color: #111;
}
.nav-menu a {
  font-size: 0.9rem;
  color: #fff;
}
.nav-menu .site-nav li {
  border-top: #fff 1px solid;
  padding: 20px 0;
}
.nav-menu .site-nav li:last-child {
  border-bottom: #fff 1px solid;
}
.nav-menu .nav-sns {
  margin-top: 65px;
}
.nav-menu .nav-sns li {
  margin-bottom: 10px;
}

.open .nav-menu {
  left: 0;
  opacity: 1;
}

#hamberger {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 45px;
  cursor: pointer;
  z-index: 20;
}
#hamberger span {
  width: 30px;
  height: 2px;
  background-color: #333;
  display: block;
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
#hamberger span:nth-child(1) {
  top: 4px;
}
#hamberger span:nth-child(2) {
  top: 14px;
}
#hamberger span:nth-child(3) {
  bottom: 4px;
}

.open #hamberger span {
  background-color: #fff;
}
.open #hamberger span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
.open #hamberger span:nth-child(2) {
  opacity: 0;
}
.open #hamberger span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

#main {
  padding-top: 80px;
}

.bg-video {
  width: 100%;
}

#pickup {
  width: 100%;
  padding: 100px 0 50px 0;
}
#pickup .slick-area {
  font-size: 0;
}
#pickup .slick-area li {
  padding: 0 30px;
}

#feature {
  max-width: 1240px;
  margin: -50px auto 10px;
  padding: 100px 16px 50px;
}
#feature .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
}
#feature .grid .item {
  box-shadow: 0 0 8px 4px #ccc;
  transition: all 0.5s ease;
}
#feature .grid .item img {
  vertical-align: top;
}
#feature .grid .item .item-content {
  padding: 30px;
}
#feature .grid .item .news-category {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
#feature .grid .item .news-title {
  font-weight: 700;
  margin-bottom: 20px;
}
#feature .grid .item .news-date {
  font-size: 0.75rem;
  text-align: right;
}

#contact {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
#contact .section-title {
  color: #fff;
}
#contact .content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
#contact .contact-info,
#contact .contact-form {
  width: 45%;
}
#contact .contact-info p {
  margin-bottom: 30px;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #000;
  border: #fff 1px solid;
  padding: 12px 0;
  margin-bottom: 0;
}
#contact .contact-form .button input:hover {
  color: #000;
  background-color: #fff;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #header {
    padding: 20px 16px;
  }

  #hamberger {
    right: 20px;
  }

  .bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #pickup {
    padding: 80px 0;
  }
  #pickup .slick-area li {
    padding: 0 20px;
  }

  #feature {
    padding: 80px 16px;
  }
  #feature .grid .item .item-content {
    padding: 16px;
  }

  #contact {
    padding: 80px 0;
  }
  #contact .content {
    flex-direction: column;
  }
  #contact .contact-info,
#contact .contact-form {
    width: 100%;
  }
  #contact .contact-form .button input {
    width: 100%;
  }
}